.drawer{
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.drawer-icon{
    font-size: 45px;
}

.drawer-button{
    aspect-ratio: 1/1;
    width: fit-content;
    height: fit-content;
}